<div class="py-50px demo-multibackground"
	     data-multibackground="debug"
	     data-multibackground-layer-0-type="image"
	     data-multibackground-layer-0-attachment="fixed"
	     data-multibackground-layer-0-url="assets/img/bt-bg.jpg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<div class="rd-10 p-5 bg-white text-center big-shadow">
						
						<h3>プロフィール変更</h3>
						
						
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
  					
  					
	  				<div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "email" %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "パスワード" %> <i>("変更したくない場合は空白のままにしてください")</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "現在のパスワード" %> <i>("変更を確認するために現在のパスワードが必要です")</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "保存" %>
  </div>
<% end %>

<h3>アカウントをキャンセルする</h3>

<p><%= button_to "アカウントをキャンセルする", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
											
						
					</div>
				</div>
			</div>
		</div>
	</div>