<!doctype html>
<html lang="en">
    
    <head>
        <title>Bcoin | Bitcoin Crypto Currency HTML Template</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/import.css">
        <!-- Chart.jsの本体-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tag %>
    </head>
    
    <body class="animate-in">
        
        <header>
          	<!--
          		Top bar
          	-->
           	<div class="top-bar bg-third-color py-sm-20px py-xs-20px">
           		<div class="container">
           			<div class="d-flex flex-column flex-md-row align-items-center">
           				<!--
           					Select currency
           				-->
           				<script>
							window.onload = function() {
							  quick_price();
							};
							
							function quick_price(){
							  obj = document.coins.linkselect;
							
							  index = obj.selectedIndex;
							  price = obj.options[index].value;
							  document.getElementById("qprice").textContent = price;
							}
						</script>
						
           				<div class="d-flex">
           					<div class="select-currency fs-0_9">
           						<form name="coins">
	           						<select name="linkselect" class="form-control fs-0_9" id="exampleFormControlSelect2" onChange="quick_price()">
									  <option value="<%= set_header_pricelogs(2).price_log[0].price.to_f.round(4) %>" selected>BTC / JPY</option>
									  <option value="<%= set_header_pricelogs(1).price_log[0].price.to_f.round(4) %>">ETH / JPY</option>
									  <option value="<%= set_header_pricelogs(3).price_log[0].price.to_f.round(4) %>">XEM / JPY</option>
									  <option value="<%= set_header_pricelogs(4).price_log[0].price.to_f.round(4) %>">XRP / JPY</option>
									  <option value="<%= set_header_pricelogs(6).price_log[0].price.to_f.round(4) %>">BCC/ JPY</option>
									</select>
								</form>
           					</div>
           				</div>
           				<!--
           					Currency selected
           				-->
           				<div class="d-flex select-selection fs-0_9 ml-5px mr-auto">
							<span class="text-white pr-5px">JPY</span><span class="text-first-color" id="qprice">00000</span>
						</div>
           			</div>
           		</div>
           	</div>
           	<!--end#top-bar-->
            <div class="container">
            	<!--
            		Main nav
            	-->
            	<nav class="navbar align-items-center navbar-expand-lg">
					<a class="navbar-brand d-inline-flex logo" href="/"> 
						<img src="/img/logo.png" alt=""> 
					</a>
					<!-- Responsive button -->
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav justify-content-end">
							<!--========== Home ================-->
							<li class="nav-item">
							  <%= link_to 'Home', "/", :class => 'nav-link js-scroll-trigger' %>
							</li>
							<!--========== 仮想通貨一覧 ================-->
							<li class="nav-item">
							  <%= link_to '仮想通貨一覧', coins_list_path, :class => 'nav-link js-scroll-trigger' %>
							</li>
							<!--========== News ================-->
							<li class="nav-item">
							  <%= link_to 'News list', "/news", :class => 'nav-link js-scroll-trigger' %>
							</li>
						</ul>
					</div>
						
					<!-- SEARCH -->
					<div class="dropdown search-bar ml-30px"> <i role="main" class="fa fa-search dropdown-toggle" id="DropSearchForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="sr-only">Search</span> </i>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="DropSearchForm">
						   <div class="input-group p-15px">
							  <input type="text" class="form-control" placeholder="Search here ..">
							  <div class="input-group-append">
								<button class="btn btn-fill-dark" type="button">Search</button>
							  </div>
							</div>
						</div>
					</div>

					<!-- Account -->
					
					<div class="dropdown account-bar"> <i role="main" class="fa fa-user-circle dropdown-toggle" id="DropAccountForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="sr-only">Account</span> </i>
						<div class="dropdown-menu dropdown-menu-right p-10px" aria-labelledby="DropAccountForm">
						   <div class="row">
						   		<div class="col-lg-12"><h6><i class="fa fa-user-o mr-15px"></i>Login Now or Create a New Account</h6></div>
					            	<div class="col-lg-12">
						                <% if user_signed_in? %>
						                <%= link_to 'プロフィール変更', edit_user_registration_path %>
						                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
						            	<% else %>
						                <%= link_to 'サインアップ', new_user_registration_path %>
						                <%= link_to 'ログイン', new_user_session_path %>
										<% end %>
								    </div>
								        <p class="notice"><%= notice %></p>
								        <p class="alert"><%= alert %></p>
						   </div>
						</div>
					</div>
				</nav>
            </div>
        </header>

    <!--ここの中にERBがはいる-->
    <%= yield %>
    <!--ここの中にERBがはいる-->
        

    
        <footer class="pt-40px pb-10px bg-third-color">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 mr-auto mb-md-40px mb-sm-40px mb-xs-40px">
						<img src="/img/logo-footer.png" alt="" class="mb-40px">
						<ul class="list-unstyled p-0 m-0">
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-map-marker mr-20px"></i>
								Sit amet, consectetur Mauris posuere a ipsum in bibendum.
							</li>
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-at mr-20px"></i>
								info@goldentemp.com
							</li>
							<li class="d-flex flex-row fs-1_2 mb-30px">
								<i class="fa fa-mobile fs-1_6 mr-20px"></i>
								+012 345 6789
							</li>
						</ul>
					</div>
					<div class="col-lg-2 mb-md-40px mb-sm-40px mb-xs-40px">
						<h4 class="text-white mb-40px fw-500">Information</h4>
						<ul class="list-unstyled p-0 m-0">
							<li><a href="/" class="text-color mb-20px d-block">Home</a></li>
							<li><a href="coins/list" class="text-color mb-20px d-block">仮想通貨一覧</a></li>
							<li><a href="/news" class="text-color mb-20px d-block">Newslist</a></li>
						</ul>
					</div>
					<div class="col-lg-2 mb-md-40px mb-sm-40px mb-xs-40px">
						<h4 class="text-white mb-40px fw-500">Virtual currency</h4>
						<ul class="list-unstyled p-0 m-0">
							<li><a href="/coins/2" class="text-color mb-20px d-block">Bitcoin</a></li>
							<li><a href="/coins/1" class="text-color mb-20px d-block">Ethereum</a></li>
							<li><a href="/coins/4" class="text-color mb-20px d-block">Ripple</a></li>
							<li><a href="/coins/3" class="text-color mb-20px d-block">XEM</a></li>
							<li><a href="/coins/6" class="text-color mb-20px d-block">Bitcoin Cash</a></li>
						</ul>
					</div>
				</div>
           		<div class="row">
           			<div class="col-lg-12 mt-30px pt-30px brd-thin-solid brd-gray-900 border-right-0 border-left-0 border-bottom-0">
           				<div class="row">
           					<div class="col-lg-4 mb-md-40px mb-sm-40px mb-xs-40px">
           						<span class="fs-0_9">All Rights Reserved 2018 @ Goldentemp</span>
           					</div>
           				</div>
           			</div>
           		</div>
            </div>
        </footer>
		
<!--Go to top-->
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
        
        <!-- Jquery | Popper | Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Jquery easing -->
		<script src="/node_modules/startbootstrap-scrolling-nav/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Owl slider -->
        <script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
		<script src="/js/plugins/owl.carousel.autoplay/owl.autoplay.min.js"></script>
		<!-- Counters -->
		<script src="/js/plugins/countimator/js/countimator.min.js"></script>
		<!-- Multibackground -->
		<script src="/js/plugins/multibackground/multibackground.min.js"></script>
		<!-- Charts js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
		<!-- Plyr -->
		<script src="/node_modules/plyr/dist/plyr.js"></script>
		<!-- Scrolling nav -->
		<script src="/node_modules/startbootstrap-scrolling-nav/js/scrolling-nav.js"></script>
		<!-- Retinajs -->
		<script src="/node_modules/retinajs/dist/retina.min.js"></script>
		<!-- Custom js options -->
		<script src="/js/custom.js"></script>

	</body>
</html>