
<!--
        	Page title
        -->
        <section id="page-title" class="py-30px bg-second-color">
        	<div class="container">
        		<div class="d-flex page-title justify-content-center justify-content-md-between align-items-center flex-column flex-md-row">
					<h1 class="d-flex mb-0 fs-2 text-white fw-500">仮想通貨</h1>
					<nav class="d-flex mb-0" aria-label="breadcrumb">
					  <ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/coins/list">仮想通貨一覧</a></li>
						<li class="breadcrumb-item active" aria-current="page"><%= @coin.name %></li>
					  </ol>
					</nav>
				</div>
        	</div>
        </section>        
        
        
        <section id="page-main" class="py-30px">
        	<div class="container"> 
        	
        	<div class="row">
                 <div class="col-1 pt-3">
                    <% if @coin.image.attached? %>
                        <%= image_tag(@coin.image,:class => "img-fluid img-thumbnail") %>
                    <% elsif !@coin.image_url.blank? %>
                        <%= image_tag(@coin.image_url,:class => "img-fluid img-thumbnail") %>
                    <% else %>
                        <%= image_tag('noimage.png', :class => "img-fluid img-thumbnail")%>
                    <% end %>
                </div>
                  <div class="col-11  align-self-center">
                    <h1><%= @coin.name_en %>(<%= @coin.name %>)</h1>
                  </div>
                  
                </div>
                
                <div class="row">
                    
                    <div class="col-lg-7">
                        <div id="canvas-container">
                          <canvas id="myChart" width="550" height="400"></canvas>
                        </div>
                      
                    </div>
                    
                    <div class="col-lg-5">
                      <table class="table table-sm table-striped">
                      <thead>
                          <tr>
                              <th>価格</th>
                              <th>最高値</th>
                              <th>最安値</th>
                              <th>価格差</th>
                              <th>日付</th>
                          </tr>
                      </thead>
                      <tbody>
                           <% @coin.price_log.first(15).each do |pricelog| %>
                          <tr>
                              <td><%= pricelog.price.to_f.round(4) %></td>
                              <td><%= pricelog.high.to_f.round(4) %></td>
                              <td><%= pricelog.low.to_f.round(4) %></td>
                              <td><%= pricelog.get_gap.to_f.round(4) %></td>
                              <td><%= pricelog.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
                          </tr>       
                          <% end %>
                      </tbody>
                      </table>
                        
                    </div>
            
                </div>
                
                <div class="row">
                    <div class="col-2 pt-1">
                        <% if @coin.image.attached? %>
                            <%= image_tag(@coin.image,:class => "img-fluid img-thumbnail") %>
                        <% elsif !@coin.image_url.blank? %>
                            <%= image_tag(@coin.image_url,:class => "img-fluid img-thumbnail") %>
                        <% else %>
                            <%= image_tag('noimage.png', :class => "img-fluid img-thumbnail")%>
                        <% end %>
                    </div>
                    <div class="col-10">
                        <h2>
                        <%= @coin.name_en %>(<%= @coin.name %>)詳細<br />
                        </h2>
                        <div class="pt-3">
                            ウェブサイト：
                            <% if !@coin.website.blank? %>
                              <%= link_to "公式サイト（日本語）", @coin.website, :target => "_blank" %><br />
                            <% else %>
                              登録されていません。<br />
                            <% end %>
                            シンボル：<%= @coin.symbol %><br />
                            説明分：descの内容が入る
                        </div>
                    </div>
                </div>
                
                <div class="footer">
                    
                </div>
                
                 
                <div class="pt-2">
                <% if user_signed_in? %>
                    <a href="" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalRegisterForm">編集</a>

                    <%= link_to("/coins/#{@coin.id}/destroy",{method:"coin"}) do %>
                     <button type="button" class="btn btn-outline-primary">
                       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
                     </button>
                     <% end %>
                <% end %>
                
                <%=link_to "戻る", {:controller => "coins", :action => "list"}, :class => "btn btn-outline-color" %>
                </div>
                	
        	
        	</div>
        </section>
        
        
        
        <% if user_signed_in? %>
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">コインの編集</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class = "row justify-content-center">
                    <div class = "col-md-6">
                    <div class="modal-body px-2">
                    <%= form_for @coin, :url => {:action => :create} do |form| %>
                
                    <div class="md-form mb-5">
                       <!-- 名前 -->
                       <%= form.label :name, "名前"%>
                       <%= form.text_field :name, required: true, class: "form-control", placeholder: "例：ビットコイン", value: @coin.name %>
                    </div>
                     
                     <div class="md-form mb-5">  
                       <!-- 名前（英語） -->
                       <%= form.label :name_en, "名前(英語)"%>
                       <%= form.text_field :name_en, required: true, class: "form-control", placeholder: "例：Bitcoin", value: @coin.name_en %>
                    </div>
                    
                    <div class="md-form mb-5">   
                       <!-- シンボル -->
                       <%= form.label :symbol, "シンボル"%>
                       <%= form.text_field :symbol, required: true, class: "form-control", placeholder: "例：BTC", value: @coin.symbol  %>
                    </div>
                    
                    <div class="md-form mb-5">   
                       <!-- 価格 -->
                       <%= form.label :price, "価格"%>
                       <%= form.number_field :price, required: true, class: "form-control", placeholder: "例：1000000.0", value: @coin.price  %>
                    </div>
                    
                       <!-- 保存ボタン -->
                       <input type = "submit" value = "保存" class="btn btn-primary btn-block my-0">
                    <% end %>
                </div>
            </div>
    
        </div>
        <% end %>



<!--ここからグラフデータ-->
<script>
//		var date_labels = ["2018-08-01", "2018-08-02", "2018-08-03", "2018-08-04", "2018-08-05", "2018-08-06","2018-08-07", "2018-08-08", "2018-08-09", "2018-08-10"];
// 		var price_logs = [350000, 250000, 200000, 300000, 350000, 300000,250000, 350000, 450000, 400000];
        <% @price_list = [] %>
        <% @date_list = [] %>
        
		<% @coin.price_log.first(15).each do |pricelog| %>
		    <% @price_list.push(pricelog.price) %>
		    <% @date_list.push(pricelog.created_at.strftime("%y-%m-%d")) %>
        <% end %>
        
        var price_logs = <%= @price_list.reverse %>;
        var date_labels = <%= @date_list.reverse.to_json.html_safe %>;
</script>
<!--ここまでグラフデータ-->


	<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'line',
	    data: {
	        labels: date_labels,
	        datasets: [{
	            label: 'price',
	            data: price_logs,
				borderColor: "#65ace4",
        		fill: false,
        		pointBorderWidth: 3,
	        }]
	    },
	    options: {
	        responsive: false,
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        },
	        elements: {
	            line: {
	                tension: 0, // disables bezier curves
	            }
	        }
	    }
	});
	</script>
	
